@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Aguafina+Script&family=Fascinate+Inline&family=Gruppo&family=Michroma&family=Playwrite+IT+Moderna:wght@100..400&family=Righteous&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  transition: all .7s ease-in;
}
*::selection{
  background:rgb(255, 140, 0);
}
:root{
  --angle:0deg;
}
.menu{
  display: flex;
  flex-direction: row;
  height:30px;
  margin-bottom:5px;
}

.say span{
  background:linear-gradient(45deg,rgb(0, 208, 255),rgb(20, 255, 204),rgb(242, 144, 255),white);
  backdrop-filter: blur(4rem);
  background-clip: text;
  background-size: 0% 100%;
animation: scrolls linear forwards;
animation-timeline: view();
background-repeat: no-repeat;
  animation-range-start:110vh;
  display: inline;
  animation-range-end: 155vh;
  font-size: 10px;
  max-width: 90%;
  overflow: hidden;
  color:transparent !important;
}
@keyframes scrolls {
  to{
      background-size: 100% 100%;
  }
}
.say2{
  color:white !important;
  font-size:10px;
  margin:auto;
}
  .stroll{
    top:60vh;
  position: absolute;
}
#mid{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin:auto;
  width:150px;
  height:100%;
}

.stroll .options::after{
  content: "";
  position:absolute;
  background:rgba(0, 255, 225, 0.02);
  margin-left: 150px;
  height:150px;
  top:0;
  border-radius: 50%;
  border: 10px double transparent;
outline-offset: -100px;
mix-blend-mode: difference;
outline:35px double rgba(255, 39, 39, 0.02);
  width: 150px;
}
  .stroll .options{
position:relative;
text-align: center;
display: flex;
font-weight: 600;
color:black;
-webkit-text-stroke: 1px rgb(58, 65, 91);
justify-content: space-around;
-webkit-backdrop-filter: blur(3rem);
backdrop-filter: blur(3rem);
flex-direction: row;
font-size: 20px;
height: 300px;
background:none;
filter:hue-rotate(0deg);
border: 10px double transparent;
outline-offset: -100px;
outline:35px double rgba(0, 0, 0, 0.233);
animation:hues 30s ease-in-out infinite;
border-radius: 50%;
margin-top: 100px;
overflow: hidden;
width:300px;

}
@keyframes hues {
  40%,60%{
    filter:hue-rotate(360deg)
  }
  
}
.menubar{
  height: 170vh;
  top:0;
  width:100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background:#0d1215;
  flex-direction: column;
  background-image:
  linear-gradient(305deg,black,transparent,black),
  repeating-conic-gradient(
  from 0deg,
  transparent 0deg 50deg,
  rgba(90, 90, 100, 0.1) 180deg 360deg);
  border-radius: 10px;
  background-attachment: scroll,fixed;
  background-position: center,right;
  background-size:cover, 4em 4em;
  animation:hides ease-in forwards;
  margin:auto;
  animation-timeline: view();
  animation-range-start: 140vh;
  animation-range-end: 350vh;
}
.options{
  display: flex;
  align-items: center;
  color:white;
  width:250px;
  font-family: "Michroma",sans-serif;
  border-radius: 5px;
  font-weight: 400;
  padding: 5px;
  height: 25px;
  font-size: 10px;
  background:rgba(255, 255, 255, 0.1);
  margin-left:2.5px;
  margin-right:2.5px;
}
.options:nth-child(1):hover{
  box-shadow:inset 700px 0px 0px red;

}
.options:nth-child(2):hover{
  box-shadow:inset 700px 0px 0px rgb(207, 207, 0);

}
.options:nth-child(3):hover{
  box-shadow:inset 700px 0px 0px rgb(0, 197, 0);

}
.options:nth-child(4):hover{
  box-shadow:inset 700px 0px 0px rgb(206, 0, 206);

}

@keyframes hides {
  30%,50%{
    height:0px;
    width:100%;
    overflow: hidden;
    top:0;
    
  }
  60%{
    position: sticky;
    opacity: 0;
    width:0%;
  }

  65%{
    width:81.4%;
    height:0px;
    top:-2vh;
  }
  70%{
    position:sticky;
    top:0;
    height:0px;
    width:81.4%;
    opacity: 1;
    background:#000000;
    background-image:
    linear-gradient(305deg,black,transparent,black),
    repeating-conic-gradient(
    from 0deg,
    transparent 0deg 50deg,
    rgba(90, 90, 100, 0.1) 180deg 360deg);
    background-position: center,left;
    overflow: hidden;
    top:-2vh;

  }

  80%,100%{
    position:sticky;
    top:0;
    height:40px;
    width:81.4%;
    background:#000000;
    z-index:100000000;
    background-image:
    linear-gradient(305deg,black,transparent,black),
    repeating-conic-gradient(
    from 0deg,
    transparent 0deg 50deg,
    rgba(90, 90, 100, 0.1) 180deg 360deg);
    background-position: center,left;
    overflow: hidden;
    top:2vh;
  }
  
}
.headtexta{
  position: sticky;
  pointer-events: none;
  top:-20vh;
  font-style: normal;
  margin: auto;
  font-weight: 900;
  font-family: "righteous",sans-serif;
  width:100%;
  text-align: center;
  color:rgba(237, 231, 231, 0.2);
  font-size: 100px;

}
#italy{
    font-family: "Aguafina Script", cursive;
    font-weight: 400;
    font-style: normal;
    fill:red;
  
}
text{
fill:white;

}

.headtextb{
  font-style: normal;
  margin: auto;
  font-weight: 900;
  font-family: "righteous",sans-serif;
  width:100%;
  height:200vh;
  pointer-events: none;
  text-align: center;
  background:linear-gradient(45deg,transparent 65%,rgba(119, 255, 92, 0));
  animation:outs linear forwards;
  animation-timeline: view();
  animation-range-start: 150vh;
  animation-range-end: 1400vh;
  color:rgba(237, 231, 231, 0.2);
  font-size: 100px;

}
.headtext{
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  width:200px;
  filter: invert(0);
  margin-left:50px;
  text-decoration: underline;
  position:sticky;
  margin-bottom: 50px;
  transform: translateY(0px);
  z-index: 100000;
  top:100px;
  font-size: 20px;
  animation: animatetext ease-in-out forwards;
  animation-timeline: view();
  animation-range-start: 100vh;
  animation-range-end: 600vh;

  color:whitesmoke;
}
@keyframes animatetext {
  0%,3%{
    opacity: 1;

  }
  50%,80%{
  filter: invert(1);

  }
  100%{
    opacity: 1;
    filter: invert(0);
  transform: translateY(100px);

  }
  
}

.car{
  width: 100%;
  padding-top: 100px;
  position:sticky;
  top:-300px;
  margin-top: -300px;
  padding-bottom: 400px;
  overflow: clip;
  background:
  radial-gradient(rgba(255, 255, 255, 0.4),transparent) no-repeat,
  linear-gradient(black,rgb(30, 37, 52)5%,rgb(255, 215, 237) 90%);
  background-size: 100px 100px,cover,cover;

}

  .neat{
  font-family: "michroma",sans-serif;
  width:150px;
  min-height: 100px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:white;
  border:7px solid transparent;
  margin-left: 50px;
  font-size: 10px;
  padding:10px;
  outline-offset: -10px;
  outline:5px double rgba(181, 180, 180, 0.283);
  position: sticky;
  top:350px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5rem);
  backdrop-filter: blur(5rem);
  pointer-events: all;
}
.boxleft{
  width:60px;
  border-radius: 20px;
  height:85%;
  margin:10px;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.bleft1{
  width:55px;
  height:55px;
  border-radius: 15px;
  background:url(./2/imgs/dog.jpg);
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
}
.wheelicon{
  width:80%;
  border:1px solid white;
  aspect-ratio: 1/1;
  -webkit-aspect-ratio:1/1;
  background:url(./2/imgs/wheel.svg);
  border-radius: 20px;

}
  .wheel{
  width:95%;
  margin:auto;
  aspect-ratio: 1/1;
  -webkit-aspect-ratio:1/1;
  color:white;
  height:99%;
  font-family:"Righteous",sans-serif;
  text-transform: uppercase;
  word-wrap: break-word;
  background:black;
  letter-spacing:5px;
  font-size: 45px;
  text-align: center;
  border-radius: 10px;

}
.top{
  height:20%;
  font-size:30px;
  font-family: "Fascinate Inline", system-ui;
  display:flex;
  justify-content: center;
  margin-top:10px;
  align-items: center;
  color:white;
  text-align: center;
  width:100%;
}
.types{
  width:700px;
  display:flex;
  height:100%;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  overflow-y:hidden;

}
*::-webkit-scrollbar{
  width:0px;
}
.cattop,.catdown{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  font-family:"Righteous",sans-serif;
  font-size:30px;
  font-weight: 700;
  color:white;
  width:100%;
  height:70%;
  border-radius:30px;
}
.ptag{
  background:black;
  font-size: 30px;
  height: 100%;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  width:60%;
  align-items: center;
  border-radius: 0px 30px 0px 0px;
}
.cattop{
  box-shadow: inset 200px 0px 0px rgba(0, 0, 0, 0.1);
}
.price{
  font-weight: 100;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  font-family: "Gruppo", sans-serif;
  font-style: normal;
  font-size:30px;
}

.cedi{
  font-size:20px;
  padding-bottom:5px;
  }
.category:nth-child(1) .cattop{
background-image: url(./2/imgs/car4.webp);
background-size: 300px;
}

.category:nth-child(2) .cattop{
background-image: url(./2/imgs/car5.webp);
background-size: 300px;
}

.category:nth-child(3) .cattop{
background-image: url(./2/imgs/car7.webp);
background-size: 300px;
}

.catdown{
  height:25%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items: center;
}
.down::-webkit-scrollbar{
  height:10px;
  background:rgba(32, 38, 51, 0.043)
}
.down::-webkit-scrollbar-button{
  background:rgba(255, 253, 254, 0.629);
  width:6px;
  border-radius:20px;
}
.down::-webkit-scrollbar-thumb{
  background:black;
}
  .down{
  height:75%;
  margin:auto;
  display: block;
  align-items: center;
  padding-top:10px;
  overflow-x:scroll;
  -webkit-backdrop-filter: blur(3rem);
  backdrop-filter: blur(3rem);
  width:95%;
  border-radius:30px 30px 0px 0px;
  border:5px solid rgba(255, 255, 255, 0.07);
  padding-bottom: 10px;
}
.category{
  border-radius: 30px;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  display:flex;
  justify-content:space-between;
  align-items: center;
  background:rgba(255, 255, 255, 0.05);
  flex-direction: column;
  overflow:clip;
  width:200px;
  margin-left:20px;
  margin-right:20px;
  height:250px;
}
@property --angle{
  syntax: "<angle>";
  inherits:false;
  initial-value:0deg;
}
.bleft2{
  width:55px;
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
  align-items: center;
  height:calc(100% - 65px);
  border-radius: 10px;
  /* background:repeating-linear-gradient(var(--angle),rgb(129, 0, 129),black,black,rgba(0, 255, 255, 0) 10%); */
  background-size:200% 200%;
  animation: flows 15s linear infinite;
}

@keyframes flows {
  50%{
    --angle:360deg
  }
}
.boxright{
  position:relative;
  width:calc(100% - 100px);
  border-radius: 40px;
  height:90%;
  background:rgba(47, 59, 72, 0.07);
  overflow: clip;
  margin:10px;
}

.messages{
  position: absolute;
  bottom:0;
  right:0;
  margin:20px;
  height: 450px;
  border:5px solid transparent;
  box-shadow:
  inset -30px 0px 0px rgba(216, 231, 241, 0.2),
  inset -60px 0px 0px rgba(216, 231, 241,0.2),
  inset -90px 0px 0px rgba(216, 231, 241,0.1),
  inset -120px 0px 0px rgba(216, 231, 241,0.1),
  inset -150px 0px 0px rgba(216, 231, 241,0.1);
  width:400px;
  border-radius:30px;
}
#vectors{
  width:850px;
}

    .poppath{
  margin:auto;
}
.popup{
  position:sticky;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top:60px;
  height:100vh;
  width: 100%;
  margin-top: 250px;
}
.box{
  height:540px;
  width:100px;
  border-radius: 30px;
  overflow:clip;
  display: flex;
  margin:0 auto;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  align-items: center;
  box-shadow:inset 0px 1000px 0px black;
  margin-top:-10px;
  animation: pulls linear forwards;
  border:5px solid transparent;
  animation-timeline: view();
  animation-range-start: cover 90vh;
  animation-range-end: cover 200vh;
}

@keyframes pulls {
  100%{
    width:90%;
  }
}
.say span:nth-child(1){
  animation-range-start: cover 45vh;
  animation-range-end: cover 90vh;

}
.say span:nth-child(2){
  animation-range-start: cover 80vh;
  animation-range-end: cover 150vh;

}
.say span:nth-child(3){
  animation-range-start: cover 150vh;
  animation-range-end: cover 200vh;

}

.point1:nth-child(3) .neat{
  margin-left: 150px;
  z-index: 100000000;

}
.point1:nth-child(4) .neat{
  margin-left: 350px;
  z-index: 10000000;

}
.point1:nth-child(5) .neat{
  margin-left: 550px;
  z-index: 100;

}


.point1:nth-child(3){
  z-index: 0;
  pointer-events: none;



}
  .point1:nth-child(4){
  z-index: 0;
  pointer-events: none;



}
.point1:nth-child(5){
  
  z-index: 0;
  pointer-events: none;


}
.or{
  padding:1px;
  border-radius: 10px;
  background:rgba(255, 255, 255, 0.493);
  color:black;
}
@keyframes outs {
  0%,10%{
    background:linear-gradient(45deg,transparent 65%,rgba(119, 255, 92, 0));

  }
  15%,35%{
    background:linear-gradient(45deg,transparent 65%,rgba(119, 255, 92, 0.7));

  }
  35%,55%{
    filter:hue-rotate(45deg)

  }
  55%,100%{
    filter:hue-rotate(180deg)

  }
  
}
.point1{
  height:100vh;
  width:100%;
  position:sticky;
  top:0;

}
#car2{
  width:100% ;
  position:sticky;
  top:-30vh;
  background:linear-gradient(rgba(114, 106, 124, 0.925) 65%,rgb(117, 80, 99));
  height: 130vh;
  margin:auto;
}
.front{
  height:100vh;
}
.rowed{
display:flex;
align-items: center;
justify-content:center;
flex-direction:row;
font-size:30px;
}
.marq{
height:50px;
margin:0px;
  aspect-ratio: 1/1;
  -webkit-aspect-ratio:1/1;
  color:white;
  height:99%;
  font-family:"Michroma",sans-serif;
  text-transform: uppercase;
  word-wrap: break-word;
  background:black;
  letter-spacing:0px;
  font-size: 20px;
  text-align:center;

  width:25px;
  margin-top:10px;
  letter-spacing:4px;
  text-align: center;
  border-radius: 10px;

}
.r{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:80%;
  position:relative;
  margin:auto;
  padding-top: 50px;
  justify-content: space-around;
  align-items: center;
}
.topt{
  font-family: "Aguafina Script", cursive;
  font-weight:200;
}
.r1{
font-size: 70px;
position: absolute;
width:100px;
text-align:center;
top:0;
left:0;
margin-top:-10px;
justify-content:center;
color:rgba(255, 255, 255, 0.269);
font-family: "Righteous", sans-serif;
font-weight:800;

}
.r2{
  width:70%;
  text-align:center;
  font-family:"Michroma",sans-serif;
  color:rgba(255, 255, 255, 0.415);
  margin:auto;
  padding:10px;
  max-height:150px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5rem);
  backdrop-filter: blur(5rem);
}
.reasons{
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  width:500px;
  height:200px;
  margin-top:10px;
  background-image:
  radial-gradient(rgba(0, 0, 0, 0.073), rgba(0, 0, 0, 0.21) 97%), 
  repeating-conic-gradient(from 45deg, rgba(0, 0, 0, 0.5) 85deg,
   rgba(0, 0, 0, 0.5) 90deg, rgba(0, 0, 0, 0.07) 90deg, rgba(0, 0, 0, 0.07) 180deg),
   var(--url);
  background-size: cover, 5em 5em, 550px;
  background-attachment:fixed,fixed,scroll;
  background-position:center,right,center;
  border:5px solid transparent;
  outline-offset:-20px;
  -moz-outline-radius-bottomleft: red;
  outline:15px double rgba(255, 255, 255, 0.09);

  animation: gates 10s linear infinite;
  border-radius: 30px;
}

@keyframes gates{
  100%{
    background-position:center,left,center;
  }
}
.reasons:nth-child(1){
 
  --url:url(./2/imgs/car5.webp);
}
.reasons:nth-child(2){

  --url:url(./2/imgs/car4.webp);

}
.reasons:nth-child(3){

  --url:url(./2/imgs/car3.webp);


}
.reasons:nth-child(4){
  --url:url(./2/imgs/car6.webp);

}
.fix2{
display:flex;
justify-content:center;
align-items: center;
text-align: center;
width:30px;
height:100px;
}
.smarttext{
  position:sticky;
  top:60vh;
  height:100vh;
  background:rgb(190, 179, 197);
  color:black;
}
.next{
  position: sticky;
  top:0;
  height: 500vh;
  width: 100%;
  margin-top:120vh;
  padding-bottom: 400px;

  overflow: clip;
}
#car1{
  width:100%;
  top:0;
  transform: scale(1) translateX(-150px) translateY(250px);
  opacity: 0;
  filter:
  drop-shadow(0px 100px 150px rgba(0, 0, 0, 0.113));
  animation: drive ease-in-out forwards;
  animation-timeline: view();
  animation-range-start: 100vh;
  animation-range-end: 600vh;


}
@keyframes drive {
  4%{
    opacity: 0;
  }
15%{
  transform:  scale(.7) translateX(-150px) translateY(260px);

}
20%{
  width:100%;
  opacity: 1;
  transform:scale(.7) translateX(200px) translateY(170px);
}
50%{
  opacity: 1;
}

  95%,
    100%{
    width:100%;
    opacity: 1;
    filter:
    drop-shadow(-500px 0px 0px rgba(0, 0, 0, 0.25));
    transform: scale(.7) translateX(200px) translateY(170px);
    /* opacity: 0; */

  }
}
#canv {
  position: absolute;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  filter:hue-rotate(280deg);
  margin: auto;
  margin-top:50vh;
}